DAEMON/CMakeCache.txt
DAEMON/CMakeFiles/
DAEMON/Makefile
DAEMON/cmake_install.cmake
DAEMON/elf2uf2/
DAEMON/generated/
DAEMON/pico-sdk/
DAEMON/picod.bin
DAEMON/picod.dis
DAEMON/picod.elf
DAEMON/picod.elf.map
DAEMON/picod.hex
DOC
PYTHON/__pycache__/
PYTHON/build/
PYTHON/dist/
PYTHON/picod.egg-info/
*.pyc
